<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<.live_title>{@meta_tags.title || assigns[:page_title]}</.live_title>
<meta name="description" content={@meta_tags.description} />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#4836bf" />
<meta name="csrf-token" content={get_csrf_token()} />
