<meta property="og:site_name" content="Amby" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta :for={{tag, value} <- @og_tags} property={tag} content={value} />
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : "Amby",
    "url" : "https://heywalt.ai/"
  }
</script>
